<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .target{
        background-color : skyBlue;
    }
</style>
    <ul>
        1.인덱스, 데이터 출력
        <li th:each="dto, state : ${list}">
            [[${state.index}]] ---- [[${dto}]]
        </li>
        <br>
        2.조건문 사용
        <li th:each="dto, state : ${list}">
            <span th:if="${dto.sno % 5 == 0}" th:text="${'------' + dto.sno}"></span>
            <span th:unless="${dto.sno % 5 == 0}" th:text="${dto.first}"></span>
        </li>
        <br>
        3.삼항연산자 사용
        <li th:each="dto : ${list}" th:class="${dto.sno % 5 == 0} ? 'target'" th:text="${dto}" ></li>
    </ul>
</body>
</html>