<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <input name="uploadFiles" type="file" multiple>
    <button class="uploadBtn">Upload</button>
    <div class="uploadResult"></div>

    <script>
        $('.uploadBtn').on('click', function() {
            let formData = new FormData();

            let inputFile = $("input[type='file']");

            let files = inputFile[0].files;

            for(let i = 0; i < files.length; i++) {
                console.log(files[i]);
                formData.append("uploadFiles", files[i]);
            }//endFor

            $.ajax({
                url: '/uploadAjax',
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST',
                dataType: 'json',
                success: function(result) {
                    showUploadImages(result);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });//endAjax
        });//endClick

        function showUploadImages(arr) {
            console.log(arr);

            let divArea = $(".uploadResult");
            let str = "";

            for(let start = 0; start < arr.length; start++){
                str += "<div>";
                str += "<img src='/display?fileName="+arr[start].thumbnailURL+"'>";
                str += "<button class='removeBtn' data-name='" + arr[start].imageURL + "'>REMOVE</button>";
                str += "</div>";
            }//endFor
                divArea.append(str);
        }//endFunction

        $(".uploadResult").on("click", ".removeBtn", function(e) {
            let target = $(this);
            let fileName = target.data("name");
            let targetDiv = target.closest("div");

            $.post('/removeFile', {fileName: fileName}, function(result) {
                console.log(result);

                if(result){
                    targetDiv.remove();
                }
            })
        });//endClick
    </script>
</body>
</html>